@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  margin-top: 60px;
}
.pokemon-card {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #cac7c7;
  text-align: center;
  margin-top: 20px;
}
.pokemon-card:hover {
  -webkit-animation: pulsate-fwd 0.1s ease-in both;
  animation: pulsate-fwd 0.1s ease-in both;
  color: #050505;
  border: 1px solid red;
}
.pokemon-list h1 {
  text-align: left;
  margin-left: 2rem;
  margin-top: 3rem;
}
.pokemon-list h3 {
  text-align: right;
  margin-right: 2rem;
  margin-top: 3rem;
}
.pokemon-list a {
  color: #4e4d4d;
  text-decoration: none;
}
