.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, grey, grey, black, red, #e97575);
}
.logo-container {
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* justify-content: center;
  align-items:center; */
  flex-direction: row;
  color: white;
}
.logo {
  margin-top: 5px;
  height: 70px;
  width: 70px;
}
.logo-container h1 {
  margin-left: 10px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: right;
  margin: 0 auto;
  padding: 0 auto;
  margin-right: 2rem;
}
.nav-item {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.nav-links a {
  text-decoration: none;
  color: White;
}
.nav-links a:hover {
  color: pink;
}
.hamburger-container {
  display: none;
}
@media only screen and (max-width: 800px) {
  .logo-container {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .navbar {
    display: none;
  }
  .hamburger-container {
    display: block;
  }
  .hamburger {
    display: block;
    color: #ffffff;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .logo-container h1 {
    font-size: 20px;
    margin-top: 1.8rem;
  }
}
